{% extends 'base.twig' %}

{% block content %}
    <form role="form" name="register" id="register" method="post">
        <div class="control-group form-group">
        <h1>{{ title }}</h1>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="username">{% trans %}login.form.username{% endtrans %}</label>
                <div class="col-7">
                    <input class="form-control" type="text" id="username" name="username" placeholder="{% trans %}login.form.username.placeholder{% endtrans %}" value="" autofocus required>
                </div>
                <div class="col-3">
                    @{{ getenv('site_xmpp_server_displayname') }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="username">{% trans %}login.form.password{% endtrans %}</label>
                <div class="col-10">
                    <input type="password" id="password" name="password" class="form-control" placeholder="{% trans %}login.form.password.placeholder{% endtrans %}" required>
                </div>
            </div>
            <br/>
            <input class="btn btn-primary" type="submit" name="login" value="{% trans %}login.form.button{% endtrans %}"/>
        </div>
    </form>
{% endblock %}