{% extends 'base.twig' %}

{% block content %}
    <form class="" role="form" name="password" id="password" method="post">
        <h1>{{ title }}</h1>

        <label for="password">{% trans %}password.form.password{% endtrans %}</label><br/>
        <input type="password" id="password" name="password" class="form-control" placeholder="{% trans %}password.form.password.placeholder{% endtrans %}" required>
        <br/><br/>
        <label for="password_confirmation">{% trans %}password.form.password_confirmation{% endtrans %}</label><br/>
        <input type="password" id="password_confirmation" name="password_confirmation" class="form-control" placeholder="{% trans %}password.form.password_confirmation.placeholder{% endtrans %}" required>
        <br/><br/>
        <input class="" type="submit" name="password_change" value="{% trans %}password.form.button{% endtrans %}"/>
    </form>
{% endblock %}