{% extends 'base.twig' %}

{% block content %}
    <form role="form" name="signup" id="signup" method="post">
        <div class="control-group form-group">
            <h1>{{ title }}</h1>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="username">{% trans %}sign.up.form.username{% endtrans %}</label>

                <div class="col-7">
                    <input type="text" id="username" name="username" class="form-control" placeholder="{% trans %}sign.up.form.username.placeholder{% endtrans %}" value="" autofocus required>
                </div>
                <div class="col-3">
                    @{{ getenv('site_xmpp_server_displayname') }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="email">{% trans %}sign.up.form.email{% endtrans %}</label>

                <div class="col-10">
                    <input aria-describedby="help" type="text" id="email" name="email" class="form-control" placeholder="{% trans %}sign.up.form.email.placeholder{% endtrans %}" value="" autofocus required>
                    <small id="help" class="form-text text-muted">{% trans %}sign.up.form.email.help{% endtrans %}</small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="password">{% trans %}sign.up.form.password{% endtrans %}</label>

                <div class="col-10">
                    <input type="password" id="password" name="password" class="form-control" placeholder="{% trans %}sign.up.form.password.placeholder{% endtrans %}" required>
                </div>
            </div>

            <div class="form-check">
                <input type="checkbox" id="legal" name="legal" class="form-check-input" />
                <label class="form-check-label" for="legal"><a href="#" data-target="#legalModal" data-toggle="modal">{% trans %}legalmodal.open{% endtrans %}</a></label>
            </div>
            <br />
            <input class="btn btn-primary" type="submit" name="signup_button" value="{% trans %}sign.up.form.button{% endtrans %}"/>
        </div>
    </form>

    <!-- legal modal -->
    <div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-lg modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}legalmodal.title{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ legal|markdown }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}