{% extends 'base.twig' %}

{% block content %}
    <form class="" role="form" name="signup" id="signup" method="post">
        <h1>{{ title }}</h1>

        <label for="username">{% trans %}sign.up.form.username{% endtrans %}</label><br/>
        <input type="text" id="username" name="username" class="" placeholder="{% trans %}sign.up.form.username.placeholder{% endtrans %}" value="" autofocus required> @{{ getenv('site_xmpp_server_displayname') }}
        <br/><br/>
        <label for="email">{% trans %}sign.up.form.email{% endtrans %}</label><br/>
        <input type="text" id="email" name="email" class="" placeholder="{% trans %}sign.up.form.email.placeholder{% endtrans %}" value="" autofocus required>
        <br/><br/>
        <label for="password">{% trans %}sign.up.form.password{% endtrans %}</label><br/>
        <input type="password" id="password" name="password" class="form-control" placeholder="{% trans %}sign.up.form.password.placeholder{% endtrans %}" required>
        <br/><br/>
        <input class="" type="submit" name="signup_button" value="{% trans %}sign.up.form.button{% endtrans %}"/>
    </form>
{% endblock %}