# site settings
site_title=""
site_navbar_home_displayname="Home"
site_navbar_signup_displayname="Sign up"
site_navbar_password_displayname="Change password"
site_navbar_delete_displayname="Delete Account"
site_navbar_login_displayname="Login"
site_navbar_logout_displayname="Logout"
site_navbar_backlink_enabled="false" # enables a link in the navbar to go back to e.g. main server site
site_navbar_backlink_uri=""
site_navbar_backlink_displayname=""
site_xmpp_server_displayname="jabber.server.org" # displayed after the @

# verification_timeout and non-verified users will be deleted
verification_cleanup_time="7 day"

# xmpp Settings
xmpp_host="" # hostname to connect
xmpp_port="5222" # port to connect, defaults to 5222
xmpp_connection_type="tcp" # defaults to tcp

# mod_admin_rest Settings
xmpp_curl_uri="/admin_rest" # full uri to admin_rest
xmpp_curl_auth_admin_username="" # configured in prosody lua file
xmpp_curl_auth_admin_password="" # configured in prosody lua file

# Mail Settings
mail_host=""
mail_port="587"
mail_secure="tls"
mail_auth=true
mail_username=""
mail_password=""
mail_from="webmaster@jabber.server.org"
mail_from_name="Server Name"

# log
log_name="application"
# possible log levels from low to high, lower values produce more details:
# DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY
log_level="INFO"

# notification
mail_notify="true" # sends an email to mail_notify_to if a new user successfully verified their account
mail_notify_to=${mail_from} # defaults to sender mail, e.g. webmaster, maybe change this e.g. to "xx@xx"